* {
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  text-align: center;
  height: 100%;
}

.text {
  font-family: 'Outfit', sans-serif;
}

.container {
  width: 576px;
  margin: 25vh auto;
  border-radius: 50px;
  padding: 30px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 2px 20px hsl(220, 15%, 55%);
}

.qr-code img{
  width: 100%;
  border-radius: 30px;
  margin-bottom: 40px;
}

.description {
  font-size: 40px;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}

.instruction {
  font-size: 30px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
}

.attribution { font-size: 22px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }